.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  line-height: var(--font-line-heigth);
}

.header {
  position: relative;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header::before,
.footer::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color_elements);
  border-right: 1px solid var(--color_elements);
}

.header::after,
.footer::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color_elements);
  border-left: 1px solid var(--color_elements);
}

.header_light-bulb {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--color_elements);
  display: flex;
  gap: 10px;
  align-items: center;
}

.header_light-bulb_ellipse {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color_elements);
  box-shadow: var(--shadow-ellips);
}

.header__theme-menu {
  align-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0 12px;
  color: var(--color_header-buttons);
  border: 1px solid transparent;
  margin-bottom: 0;
}

.header__theme-menu-button:disabled {
  box-shadow: inset 0 0 0 1px var(--color_header-buttons);
  cursor: default;
}

.header__theme-menu-button:not(:disabled):hover {
  border: 1px solid var(--color_button-hover);
  text-decoration: underline;
  cursor: pointer;
}

.header_title {
  margin-top: 68px;
  font-size: var(--font-size-header-title);
  font-weight: var(--font-weight-bold);
  color: var(--color_header-title);
  line-height: var(--font-line-heigth-heading-title);
  text-shadow: var(--shadow-title);
}

.header_title-paragraph {
  margin: 55px 0;
  background-color: var(--color_blocks);
}

.header_paragraph {
  background-color: var(--color_blocks);
  font-size: var(--font-size-h3-title);
  font-weight: var(--font-weight-bold);
  color: var(--color_bloks-title);
  line-height: var(--font-line-heigth);
}

/* Скрываем старые уголки */
.header_elements-up,
.header_elements-down,
.footer_elements-up,
.footer_elements-down {
  display: none;
}

.main {
  padding-top: 40px;
}

.main_section {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  line-height: var(--font-line-heigth);
}

.main_section + .main_section {
  padding-top: 50px;
}

.main_section-title {
  font-size: var(--font-size-h2-title);
  font-weight: var(--font-weight-bold);
  color: var(--color_section-title);
  margin-bottom: 20px;
}

.main_bloks-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--font-size-h3-title);
  font-weight: var(--font-weight-bold);
  color: var(--color_bloks-title);
  background-color: var(--color_blocks);
  line-height: var(--font-line-heigth);
}

.main_paragraph-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--font-size-h4-title);
  font-weight: var(--font-weight-normal);
  color: var(--color_paragraph-title);
  background-color: var(--color_blocks);
  line-height: var(--font-line-heigth);
}

.main_link {
  text-shadow: var(--shadow-main_link);
  text-decoration: none;
}

.main_link:hover {
  text-decoration: underline;
}

.main_gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
}

.footer_title {
  padding: 277px 0;
  font-size: var(--font-size-header-title);
  font-weight: var(--font-weight-bold);
  color: var(--color_header-title);
  line-height: var(--font-line-heigth-heading-title);
  text-shadow: var(--shadow-title);
}

@media (min-width: 768px) {
  :root {
    --font-size-header-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: 20px;
  }

  .header::before,
  .footer::before {
    right: 20px;
    top: 20px;
  }

  .header::after,
  .footer::after {
    left: 20px;
    bottom: 20px;
  }

  .header_light-bulb {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    margin-top: 172px;
  }

  .header_title {
    margin-top: 176px;
    margin-left: -20px;
  }

  .header_title-paragraph {
    align-self: end;
    max-width: 50%;
    margin: 160px 0;
  }

  .main_section {
    padding: 0 20px;
  }

  .main_section + .main_section {
    padding-top: 80px;
  }

  .main {
    padding-top: 60px;
  }

  .main_first-section-title {
    max-width: 236px;
  }

  .main_first-section .main_group .main_bloks-title:first-child {
    margin-top: 0;
  }

  .main_first-section {
    flex-direction: row;
    gap: 20px;
  }

  .main_first-section-title {
    min-width: 236px;
  }

  .main_gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "first first second"
      "third fourth second"
      "third fifth fifth";
    gap: 20px;
    margin-top: 20px;
  }

  .img {
    height: 100%;
  }

  .first-img {
    grid-area: first;
  }

  .second-img {
    grid-area: second;
  }

  .third-img {
    grid-area: third;
  }

  .fourth-img {
    grid-area: fourth;
  }

  .fifth-img {
    grid-area: fifth;
  }

  .footer {
    margin-top: 60px;
    padding: 20px;
  }

  .footer_title {
    padding: 444px 0;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: center;
    margin-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header_title {
    margin-top: 273px;
  }

  .header_title-paragraph {
    margin: 114px 0 115px;
  }

  .main_first-section-title {
    max-width: 315px;
  }

  .main_first-section-title {
    min-width: 315px;
  }

  .main_second-group {
    display: flex;
    gap: 20px;
  }

  .main_second-group .main_info {
    flex: 1;
  }

  .footer_title {
    padding: 299px 0;
  }
}
